@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;  /* 🚫 remove horizontal scroll */
  overflow-y: auto;    /* ✅ allow vertical scroll */
}

